<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/bootstrap.css"> 
</head>
<body>
    <h1> It is a pleasure to make your accointance, <%= username %> </h1>
    <h1 class="display-4 font-weight-bold m-3">index</h1>
    <ul>
        <li>Tobias Bayer</li>
        <li>Estella Kinzel</li>
        <li>Nathalie Claire Huppert</li>
    </ul>
</body>
</html>