<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users table</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
<form action="/login" method="post">
    <label for="user">Email: </label>
    <input type="email" name="user" id="user">
    <label for="pass">Password: </label>
    <input type="password" name="pass" id="pass">
    <button type="submit">Login</button>
</form>
</body>
</html>
