<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users table</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
</head>
<body hx-post="/profile" hx-trigger="load delay:1s" hx-vars="id:localStorage.getItem('id')"></body>
</html>
