<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users table</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
<form action="/users/login/password" method="post">
    <label for="username">Email: </label>
    <input type="email" name="username" id="username" value="test@example.com">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" value="1234">
    <button type="submit">Login</button>
</form>

</body>
</html>
