    <!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
    <link rel="stylesheet" href="/bootstrap.css">
        <script src="/js/htmx.min.js"></script>

        <script>
            function parse() {
                console.log(<%- json %>)
                const data = <%- json %>;
                const ul = document.createElement('ul');
                for (p of data) {
                    const li = document.createElement('li');
                    li.innerText = JSON.stringify(p);
                    ul.appendChild(li);
                }
                document.querySelector('body').appendChild(ul);
            }
        </script>
</head>
<body onload="parse();">
</body>
</html>