<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productview</title>
    <link rel="stylesheet" href="/bootstrap.css"> 
</head>
<body onload="localStorage.setItem('id', '<%= id %>')">
  <h1>Thanks for registering, <%- user %></h1>
</body>
</html>
