<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/bootstrap.css">
  </head>
<body>
    <h1 class="display-4 font-weight-bold m-3">Register</h1>
    <form action="/users/register" method="post">
      <input type="email" name="email" value="test@example.com">
      <input type="text" name="firstName" value="abducted">
      <input type="text" name="lastName" value="rhino">
      <input type="text" name="address" value="under a rock">
      <input type="password" name="password" value="1234">
      <button type="submit">Register</button>
    </form>
</body>
</html>
