<%- include('layout/header.ejs')%>
<body>
    <h1 class="display-4 font-weight-bold m-3">searchview</h1>
    <input  type="text"
            name="search"
            hx-post="/products/searchview"
            hx-trigger="keyup changed"
            hx-target="#products"
            placeholder="Search...">
    <div id="products">
        <%- include('searchview-products'); %>
    </div>
</body>
</html>
