<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchview</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="/js/htmx.min.js"></script>
</head>
<body>
    <h1 class="display-4 font-weight-bold m-3">searchview</h1>
    <input  type="text"
            name="search"
            hx-post="/products/searchview"
            hx-trigger="keyup changed"
            hx-target="#products"
            placeholder="Search...">
    <div id="products">
        <%- include('searchview-products'); %>
    </div>
</body>
</html>
