<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users table</title>
    <link rel="stylesheet" href="/bootstrap.css"> 
</head>
<body>
    <h1 class="display-4 font-weight-bold m-3">users table</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">firstName</th>
                <th scope="col">lastName</th>
                <th scope="col">email</th>
                <th scope="col">address</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
            <tr>
                <div>
                    <td><input name="firstName" type="text" value="<%= user.firstName %>"></input></td>
                    <td><input name="lastName" type="text" value="<%= user.lastName %>"></input></td>
                    <td><input name="email" type="email" value="<%= user.email %>"></input></td>
                    <td><input name="address" type="text" value="<%= user.address %>"></input></td>
                </div>
                <td><button name="update" hx-put="/users/users" hx-target="closest div" hx-include="closest div">Update</button></td>
            </tr>  
            <% }) %>
            </tbody>
        </table>
</body>
</html>
