<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="/bootstrap.css">
        <!-- TOOD: this should only be in the ones that need it -->
        <script src="/js/htmx.min.js"></script>
   </head>
   <body>
